@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:wght@200;300;400;500;700;900&display=swap');
:root {
  --primary: #310A90;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
  padding: 37px 128px;
  background-repeat: no-repeat;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  text-transform: uppercase;
}

.navigation {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navbar-logo {
  color: var(--primary);
  font-size: 24px;
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.active {
  color: var(--primary);
}

.btn {
  cursor: pointer;
  outline: none;
  background: var(--primary);
  border: 2px solid #310A90;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 24px 13px 24px;
  font-weight: 700;
  font-size: 14px;
}

.btn:hover {
  opacity: .8;
}

.navbar-btn {
  display: none;
}

.main {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  gap: 115px;
  font-family: 'Poppins', sans-serif;
}

.main-information {
  align-self: center;
  width: 543px;
  height: 376px;
}

.main-information h5 {
  font-size: 24px;
  font-weight: 700;
}

.main-information h2 {
  font-size: 59px;
  font-weight: 700;
}

.main-information p {
  margin: 16px 0;
}

.main-information ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  font-family: 'Oxygen', sans-serif;
}

.main-information ul li a {
  text-decoration: none;
  color: var(--primary);
}

.main-information ul li a i {
  margin-right: 16px;
}

.main-information .btn {
  margin-top: 24px;
}

.image {
  width: 100%;
  height: auto;
}

.objective {
  display: flex;
  justify-content: center;
  align-items: center;
}

.objective-content {
  margin: 200px 105px;
  width: 900px;
  height: auto;
  text-align: center;
  color: var(--primary);
}

.objective-content p:nth-child(1) {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 200;
  line-height: 55px;
}

.objective-content p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.objective-content p:nth-child(3) .image {
  width: 80.52px;
  height: 80.52px;
  margin-top: 24px;
}

/*smartphone*/

@media screen and (max-width: 600px) {
  body {
    padding: 16px;
  }
  .navbar {
    padding: 16px 0;
    justify-content: space-between;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-btn {
    display: inline-block;
  }
  .main {
    margin-top: 16px;
    flex-direction: column-reverse;
    gap: 16px;
  }
  .main-information {
    align-self: start;
    width: 100%;
    height: auto;
  }
  .main-information h5 {
    font-size: 24px;
    font-weight: 700;
  }
  .main-information h2 {
    font-size: 48px;
    font-weight: 700;
  }
  .main-information .btn {
    width: 100%;
  }
  .objective-content {
    margin: 40px 0;
    width: 100%;
  }
  .objective-content p:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
    line-height: 38.83px;
  }
  .objective-content p:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    line-height: 38.83px;
  }
  .objective-content p:nth-child(3) .image {
    width: 80px;
    height: 80px;
  }
}